@charset "UTF-8";

/*  ==========================================================================
BREAKPOINTS (MOBILE FIRST)
========================================================================== */
$smpartphone:320px;
$tablet:768px;
$desktop:1200px;

/*  ==========================================================================
CORES
========================================================================== */
$cor-primaria:#333;
$cor-sucundaria:#000;
$cor-terciaria:#f5f5f5;